body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: hsla(0,0%,83%,0.18)
    padding-right: 10rem;
  }
  .neon-button {
   
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 9px;
  }
  .image-frame {
    height:450px; 
    width:350px;
    position: relative; 
    z-index: 100
    hsl(0,0%,86%)}

    .neon-button {
    font-size: 0.8rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: hsl(140, 67%, 41%);
    font-family : inherit;
    position: relative;
  }
  
 
  .image-frame {
    height:450px; 
    width:350px;
    position: relative; 
    z-index: 100
    hsl(0,0%,86%)
}

  #labelFile{
    font-size: 0.8rem;
  }

  .input-file {
    display: none;
}
.button {
  pointer-events: none;
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Ces styles ne sont là que pour la présentation*/
.divcentre{
  border: 3px solid #3CC;
  margin: 10px 10px;
  padding: 10px;
   text-align: center;
}

